.black {
    background-color: #B0786A;
}

.white {
    background-color: white;
}


.grid {
    height: 90vh;
    width: 90vh;
    border: 1px solid #B0786A;
    margin: 5vh calc((100vw - 90vh)/2) 5vh calc((100vw - 90vh)/2);
}

.grid > ul {
    width: 100%;
    height: 12.5%;
    margin: 0%;
    padding: 0%;
}

.grid > ul > li {
    width: 12.5%;
    height: 100%;
    float: left;
    list-style: none;
    text-align: center;
}

